.button{
    background: #EF8354;
    border: none;
}

.buttonClose{
    background: #4F5D75;
    border: none;
}

.buttonFinish{
    background: #DB5461;
    border: none;
}

.label{
    font-weight: 500;
}