.backg{
  width: 100%; 
  height: auto; 
  background-image: url('/image/imagen1.png' );
  background-size:cover; 
  height: 68vh;
}

.h{
  color: white;
  padding: 120px 50px ;
  text-align: center;
}