
.card{
    border: 2px solid #7d7d7d; 
    border-radius: 10px;
}

.cardTitle{
    background-color: #EF8354 !important;
    border-top-left-radius:10px ;
    border-top-right-radius:10px ;
    font-weight: 500;
    color: white !important;
    text-align: center;
}

.cardSubtitle{
    font-weight: 600;
}


.btnD, .btn{
    color: white;
    border: none ;
    cursor: pointer;
    padding: 5px 40px;
    border-radius: 10px;
    transition: background-color 0.3 ease, filter 0.3 ease;
}
.btnD:hover, .btn:hover{
    filter: drop-shadow(0px 0px 1px #000);
}

.crear{
    background-color:#DB5461 ;
    border: none !important;
    align-self: center;
}

.btnD{
    background-color:#4F5D75;
}
.btn{
    background-color: #DB5461;
}