
.card{
    border: 2px solid #000; 
    border-radius: 20px;
}

.cardTitle{
    background-color: #EF8354 !important;
    border-top-left-radius:20px ;
    border-top-right-radius:20px ;
    font-weight: 500;
    color: white !important;
    text-align: center;
}

.btnD, .btn{
    color: white;
    border: none ;
    cursor: pointer;
    padding: 5px 30px;
    border-radius: 10px;
    transition: background-color 0.3 ease, filter 0.3 ease;
}
.btnD:hover, .btn:hover{
    filter: drop-shadow(0px 0px 1px #000);
}


.btnD{
    background-color:#4F5D75;
}
.btn{
    background-color: #DB5461;
}